### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Archivos y carpetas generados por IntelliJ IDEA
.idea/
*.iml

# Carpetas de compilación
out/
target/

# Archivos de clase
*.class

# Archivos de registro
*.log

# Archivos temporales
*.tmp
